body, h1, h2, h3, p, ul, ol {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    
}



.jumbotron {
text-align: center;
background: url('../images/jumbotron\ background.jpg') center/cover no-repeat; /* Replace with the path to your image */
background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for transparency */
color: #fff;
padding: 5em;

padding-top: 6em;
margin-bottom: 2em;
}

.jumbotron h1 {
font-size: 2.5em;
margin-bottom: 0.5em;
}

.jumbotron p {
font-size: 1.2em;
margin-bottom: 1.5em;
}

.jumbotron button {
background-color: #fff;
color: #333;
padding: 1em 2em;
font-size: 1.2em;
border: none;
cursor: pointer;
transition: background-color 0.3s;
}

.jumbotron button:hover {
background-color: #ddd; /* Adjust the color as needed */
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#products {
    text-align: center;
    padding: 20px; /* Add padding for better spacing */
    background-color: rgb(240, 240, 240);
    margin-top: 100px;
    
}

/* Update styles for the .product-container */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1000px; /* Set a maximum width for the product container */
    margin: 0 auto; /* Center the product container */
}

.product-block {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 0.5em;
    background-color: #fff;
    transition: transform 0.3s;
    cursor: pointer;
    width: 250px; /* Set a fixed width or adjust as needed */
    box-sizing: border-box;
     /* Set the width for three blocks with some spacing */
    
}
.product-block:hover {
    transform: scale(1.05);
}

.product-image {
    max-width: 100%;
    height: auto;
    display: block;
    
}





#newSection {
    
    padding: 20px;
    
    width: 800px;
    max-width: 100%; /* Ensure responsiveness */
    height: auto; /* Adjusted to auto for dynamic height */
    align-items: center;
    margin: 0 auto; /* Center the section horizontally */
    margin-bottom: 100px;
}



#newSection h2 {
    margin-bottom: 20px;
    margin-top: 100px;
    line-height: .9;
       font-size: 70px;
       font-weight: 800;
       margin-bottom: 70px;
}

#newSection .container {
    
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1000px; /* Set a maximum width for the product container */
    margin: 0 auto; /* Center the product container */
}

#newSection .big-block {
    
    margin-bottom: 50px;
    cursor: pointer;

    border: 1px solid #ddd;
    padding: 1em;
    margin: 0.5em;
    background-color: #fff;
    transition: transform 0.3s;
    cursor: pointer;
    width: 60%; /* Set a fixed width or adjust as needed */
    box-sizing: border-box;
     /* Set the width for three blocks with some spacing */
}

#newSection .small-block {
     /* Adjust the width as needed */
    margin-bottom: 20px;
    text-align: center; /* Center text within small blocks */
    cursor: pointer;

    border: 1px solid #ddd;
    padding: 1em;
    margin: 0.5em;
    background-color: #fff;
    transition: transform 0.3s;
    cursor: pointer;
    width: 30%; /* Set a fixed width or adjust as needed */
    box-sizing: border-box;
     /* Set the width for three blocks with some spacing */
    
}
.small-block:hover{
    transform: scale(1.05);
}
.big-block:hover{
    transform: scale(1.05);
}

#newSection img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center images within blocks */
    height: auto;
}

#newSection h3,
#newSection h4 {
    margin-top: 10px;
    margin-bottom: 0; /* Adjusted to remove default margin */
}
