---
 title: Home
 layout: 'base.njk'
---
<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="p:domain_verify" content="3d95a5576db3712667e5bf614b8f54b9"/>
    <link rel="stylesheet" href="css/index.css">
    
    <link rel="icon" type="image/png" href="/images/icon-logo-1.png"/>
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="footer/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">

    
    
    <title>
        Tech Accessories
    </title>

    
    <style>

    
    </style>
</head>-->

    

    <!-- Jumbotron Section -->
    <section class="jumbotron">
        
        <h1>Tech Accessories</h1>
        <p>We write informational and educational blogs for technology related topics.</p>
        <button onclick="scrollToProducts()">Explore Blogs</button>
    </section>

    
    
    <h2 style="text-align: left; margin-top: 50px;  font-size: 50px; margin-left: 50px">Latest Blogs</h2>
    <section id="new-section" class="container">
        
        {%-for post in collections.post | reverse-%}
            {%- if loop.index <= 1 -%}
                <div class="column">
                    <div class="left-column">
                        <a href="{{post.url}}">
                            <img src="{{post.data.image}}" alt="">
                            <h2>{{post.data.title}}</h2>
                        </a>
                        
                    </div>
                </div>
            {%- endif -%}
        {%endfor%}

        
        <div class="column">
            <!-- First Row -->
            
            {%- for post in collections.post -%}
                {%- if loop.index <= 3 -%}
                    <div class="row">
                        <a href="{{ post.url }}">
                            <div class="text-content">
                                <div class="small-image">
                                    <img src="{{ post.data.image }}" alt="Small Image 1">
                                </div>
                                <div class="title-and-description">
                                    <h3>{{ post.data.title }}</h3>
                                </div>
                            </div>
                        </a>
                    </div>
                {%- endif -%}
            {%- endfor -%}

        
            
        
        </div>
    </section>



    <section id="another-section" class="custom-section">
        <!-- First Column -->
        <div class="custom-column">
            <!-- First Row -->
            <div class="custom-row">
                <h2 style="font-size: 35px; ">Software & Apps</h2>
                
            </div>
            <!-- Second Row -->
            <div class="custom-row background-row">
                <!-- Clickable Columns -->
                {%- for post in collections.apps -%}
                    {%- if loop.index <= 5 -%}
                        <a href="{{post.url}}" class="custom-clickable-column">
                            <!-- Left Column - Image -->
                            <div class="custom-image-row">
                                <img src="{{post.data.image}}" alt="Image 1">
                            </div>
                            <!-- Right Column - Title -->
                            <div class="custom-title-row">
                                <h3>{{ post.data.title }}</h3>
                            </div>
                        </a>
                    {%- endif -%}
                {%- endfor -%}

                
                <!-- Repeat similar structure for other columns -->
            </div>
        </div>

        <!-- Second Column -->
        <div class="custom-modified-column">
            <h2 style="font-size: 35px; margin-left: 80px;">Tips & Guides</h2>
            <!-- Modified Structure with Rows and Blocks -->
            <div class="custom-modified-rows-container">
                <!-- First Row -->
                <div class="custom-modified-row">
                    {%- for post in collections.tips -%}
                        {%- if loop.index <= 6 -%}
                            <a href="{{post.url}}">
                                <div class="custom-modified-column-with-margin">
                                    <img src="{{post.data.image}}" alt="Image 2-1">
                                    
                                        <h3>{{ post.data.title }}</h3>
                                    
                                </div>
                            </a>
                        {%- endif -%}
                    {%- endfor -%}
                </div>
                <!-- Add more rows as needed -->
                
                
            </div>
        </div>
    </section>



    
    <script>


        

        
        function scrollToProducts() {
            document.querySelector("#new-section").scrollIntoView({ behavior: "smooth" });
        }

        function goToHomePage() {
            // Replace with the URL of your homepage
            window.location.href = "index.html";
        }

        // Add this script to your existing JavaScript section
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelector(this.getAttribute('href')).scrollIntoView({
                        behavior: 'smooth'
                    });
                });
            });
        });

        function goToSection(sectionId) {
            // Replace with the appropriate URLs or section IDs
            window.location.href = sectionId;
        }

        function toggleDropdown() {
            // Add logic to toggle the dropdown content
            var dropdownContent = document.querySelector('.dropdown-content');
            dropdownContent.classList.toggle('show');
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName('dropdown-content');
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

