
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    
    <meta name="p:domain_verify" content="3d95a5576db3712667e5bf614b8f54b9"/>
    <link rel="stylesheet" href="/css/index.css">
    <meta name="description" content="{{description}}">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/css/listicles.css">
    
    <link rel="icon" type="image/png" href="/images/icon-logo-1.png"/>
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="footer/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {% include 'header.njk'  %}
    {{content | safe}}
    
    {% include 'footer.njk' %}
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
    </script>
</body>
</html>
