---

layout: 'base.njk'
tags: post
---

<!DOCTYPE html>
<html lang="en">
<!--    <p style="text-align: center; color: rgb(179, 176, 176); margin-bottom: 10px;">Photo by <a href="" target="_blank"></a>, on <a href="" target="_blank"></a> </p>    -->


    <!-- Your existing head content -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <link rel="icon" type="image/png" href="/images/icon-logo-1.png"/>
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/css/listicles.css">
    <link rel="stylesheet" href="/header/header.css">
    <link rel="stylesheet" href="/footer/footer.css">
    
    <style>
        
    </style>
    <title>{{title}}</title>

    <!-- Post Page with Sidebar -->
    <section class="post-section">
        <div class="sidebar">
            <nav class="sidebar-links">
                <ul>
                    <li><a class="sidebar-section" href="#intro">Introduction</a></li>
                    <li><a class="sidebar-section" href="#{{section1title}}">{{section1title}}</a></li>
                    <li><a class="sidebar-section" href="#{{section2title}}">{{section2title}}</a></li>
                    <li><a class="sidebar-section" href="#{{section3title}}">{{section3title}}</a></li>
                    <li><a class="sidebar-section" href="#{{section4title}}">{{section4title}}</a></li>
                    <li><a class="sidebar-section" href="#{{section5title}}">{{section5title}}</a></li>
                    <li><a class="sidebar-section" href="#{{section6title}}">{{section6title}}</a></li>
                    <li><a class="sidebar-section" href="#{{section7title}}">{{section7title}}</a></li>
                    <li><a class="sidebar-section" href="#{{section8title}}">{{section8title}}</a></li>
                    

                    
                    
                </ul>
            </nav>
        </div>
        <div class="post-page">
            <div class="post-header">
                <h1 class="post-title">{{title}}</h1>
                
                
            </div>
            <div class="post-content">
                <section id="intro">
                    <p>
                       {{introduction}}
                        
                    </p>
                
                    <h3 style="margin-top: 30px;">Table of Content</h3>
                    
                    <nav class="section-links">
                        <ul>
                            <li><a class="section"  href="#{{section1title}}">{{section1title}}</a></li>
                            <li><a class="section"  href="#{{section2title}}">{{section2title}}</a></li>
                            <li><a class="section"  href="#{{section3title}}">{{section3title}}</a></li>
                            <li><a class="section"  href="#{{section4title}}">{{section4title}}</a></li>
                            <li><a class="section"  href="#{{section5title}}">{{section5title}}</a></li>
                            <li><a class="section"  href="#{{section6title}}">{{section6title}}</a></li>
                            <li><a class="section"  href="#{{section7title}}">{{section7title}}</a></li>
                            <li><a class="section"  href="#{{section8title}}">{{section8title}}</a></li>
                            

                            
                        <!-- Add more navigation links as needed -->
                        </ul>
                    </nav>
                </section>
                

                <!-- Content of the first section -->
                <section id="{{section1title}}">
                    <a class="a-link">
                        <h2>{{section1title}}</h2>
                    </a>
                        <img class="product-img" src="{{section1image}}" alt="{{section1imagealt}}">
                        <p>{{section1description}}</p>
                    
                
                </section>

                <!-- Content of the second section -->
                <section id="{{section2title}}">
                    <a class="a-link">
                    <h2>{{section2title}}</h2>
                    </a>
                    <p>{{section2description}}</p>
                    <img class="product-img" src="{{section2image}}" alt="{{section2imagealt}}">
                </section>
                
                
                <section id="{{section3title}}">
                    <a class="a-link">
                    <h2>{{section3title}}</h2>
                    </a>
                    <img class="product-img" src="{{section3image}}" alt="{{section3imagealt}}">
                    <p>{{section3description}}</p>
                   
                </section>
                <section id="{{section4title}}">
                    <a class="a-link">
                    <h2>{{section4title}}</h2>
                    </a>
                    <img class="product-img" src="{{section4image}}" alt="{{section4imagealt}}">
                    <p>{{section4description}}</p>
                </section>
                <section id="{{section5title}}">
                    <a class="a-link">
                    <h2>{{section5title}}</h2>
                    </a>
                    <img class="product-img" src="{{section5image}}" alt="{{section5imagealt}}">
                    <p>{{section5description}}</p>
                </section>
                <section id="{{section6title}}">
                    <a class="a-link">
                    <h2>{{section6title}}</h2>
                    </a>
                    <img class="product-img" src="{{section6image}}" alt="{{section6imagealt}}">
                    <p>{{section6description}}</p>
                </section>
                <section id="{{section7title}}">
                    <a class="a-link">
                    <h2>{{section7title}}</h2>
                    </a>
                    <img class="product-img" src="{{section7image}}" alt="{{section7imagealt}}">
                    <p>{{section7description}}</p>
                </section>
                <section id="{{section8title}}">
                    <a class="a-link">
                    <h2>{{section8title}}</h2>
                    </a>
                    <img class="product-img" src="{{section8image}}" alt="{{section8imagealt}}">
                    <p>{{section8description}}</p>
                </section>
                
            </div>   <!-- Add more sections as needed -->
        </div>

        
       
    </section>





<!--<section class="more-posts">
  <h2>More Posts</h2>
  <div class="post-container">


  
      <div class="post">
        <a href="{{ post.url }}">
          <img src="{{ post.data.image }}" alt="{{ post.data.imagealt }}">
          <h3>{{ post.data.title }}</h3>
        </a>
      </div>

  </div>
</section>-->







    <script src="/js/sidebar.js" defer></script>


    <!-- Smooth scrolling JavaScript -->
    <script>


        document.addEventListener("DOMContentLoaded", function () {
            const links = document.querySelectorAll('a[href^="#"]');

            links.forEach(link => {
                link.addEventListener("click", function (e) {
                    e.preventDefault();

                    const targetId = this.getAttribute("href").substring(1);
                    const targetElement = document.getElementById(targetId);

                    if (targetElement) {
                        const offsetTop = targetElement.offsetTop;
                        window.scrollTo({
                            top: offsetTop,
                            behavior: "smooth"
                        });
                    }
                });
            });
        });
    </script>

